# Table of Contents
 <p>

In [1]:
import gdax
#from gdax import PublicClient
import pandas as pd

In [3]:
public_client = gdax.PublicClient()

In [4]:
# PublicClient().get_products() 
gdax_products = public_client.get_products()
gdax_products = pd.DataFrame(gdax_products)
gdax_products

,base_currency,base_max_size,base_min_size,display_name,id,margin_enabled,quote_currency,quote_increment
0,LTC,1000000,0.01,LTC/EUR,LTC-EUR,False,EUR,0.01
1,LTC,1000000,0.01,LTC/BTC,LTC-BTC,False,BTC,0.00001
2,BTC,250,0.01,BTC/GBP,BTC-GBP,False,GBP,0.01
3,BTC,250,0.01,BTC/EUR,BTC-EUR,False,EUR,0.01
4,ETH,5000,0.01,ETH/EUR,ETH-EUR,False,EUR,0.01
5,ETH,5000,0.01,ETH/BTC,ETH-BTC,False,BTC,0.00001
6,LTC,1000000,0.01,LTC/USD,LTC-USD,False,USD,0.01
7,BTC,250,0.01,BTC/USD,BTC-USD,False,USD,0.01
8,ETH,5000,0.01,ETH/USD,ETH-USD,False,USD,0.01

In [5]:
for product_id in gdax_products.id:
    order_book = public_client.get_product_order_book(product_id, level=1)
#     order_book = pd.DataFrame(order_book)
    print(order_book)

{'sequence': 167884474, 'bids': [['38.5', '9.75826188', 2]], 'asks': [['38.53', '0.01921785', 1]]}
{'sequence': 190558080, 'bids': [['0.01096', '0.020012', 1]], 'asks': [['0.01097', '1.012436', 2]]}
{'sequence': 1092978834, 'bids': [['3215.01', '0.431', 2]], 'asks': [['3217.69', '0.30641629', 1]]}
{'sequence': 2335235802, 'bids': [['3524', '0.5', 1]], 'asks': [['3524.8', '0.09', 2]]}
{'sequence': 225538152, 'bids': [['251', '18.06563068', 2]], 'asks': [['251.42', '0.00000026', 1]]}
{'sequence': 470531041, 'bids': [['0.07091', '0.64138392', 3]], 'asks': [['0.07092', '0.00000043', 1]]}
{'sequence': 421808399, 'bids': [['45.11', '1.34188', 2]], 'asks': [['45.12', '15.34943794', 3]]}
{'sequence': 3862107872, 'bids': [['4111.13', '9.65757812', 20]], 'asks': [['4111.14', '605.3887892', 15]]}
{'sequence': 1013563537, 'bids': [['293.6', '10.9465081', 4]], 'asks': [['293.61', '421.04380569', 26]]}

In [6]:
public_client.get_currencies()

[{'id': 'BTC', 'min_size': '0.00000001', 'name': 'Bitcoin'},
 {'id': 'EUR', 'min_size': '0.01000000', 'name': 'Euro'},
 {'id': 'LTC', 'min_size': '0.00000001', 'name': 'Litecoin'},
 {'id': 'GBP', 'min_size': '0.01000000', 'name': 'British Pound'},
 {'id': 'USD', 'min_size': '0.01000000', 'name': 'United States Dollar'},
 {'id': 'ETH', 'min_size': '0.00000001', 'name': 'Ether'}]

In [7]:
auth_client = gdax.AuthenticatedClient(API_KEY, API_SECRET, API_PASS)

In [8]:
accounts = auth_client.get_accounts()
pd.DataFrame(accounts)

,available,balance,currency,hold,id,profile_id
0,1500.0000000000000000,1500.0000000000000000,USD,0.0000000000000000,2fb55e27-276a-4f99-b2b7-127729949d1c,6c33d3ef-deba-4eab-8e2c-d6213b4c100d
1,0.0000000000000000,0.0000000000000000,LTC,0.0000000000000000,2f00df30-58fa-42c9-85ff-1c81bd48198e,6c33d3ef-deba-4eab-8e2c-d6213b4c100d
2,0.0000000000000000,0.0000000000000000,ETH,0.0000000000000000,a71932e3-66cd-41d4-bb6f-010e061fb44a,6c33d3ef-deba-4eab-8e2c-d6213b4c100d
3,0.0000000000000000,0.0000000000000000,BTC,0.0000000000000000,1205713f-4d84-46e1-b385-12e268600193,6c33d3ef-deba-4eab-8e2c-d6213b4c100d

In [9]:
auth_client.get_account_history("2f00df30-58fa-42c9-85ff-1c81bd48198e")

[[]]